@tailwind base;

@tailwind components;

@tailwind utilities;

.theme-light {
  --bg-background-primary: theme('colors.gray.200');
  --bg-background-secondary: #f7fafc;
  --bg-background-tertiary: #e2e8f0;

  --bg-navbar-primary: white;
  --bg-background-form: white;

  --text-primary: #2d3748;
  --text-copy-primary: #2b6cb0;
  --text-copy-secondary: #4a5568;

  --border-border-color-primary: white;
  --color-ui-border: theme('colors.gray.300');
}

.theme-light .search-highlighted {
  background: #f0fff4;
}

.theme-light .search-hover:hover {
  background: #f0fff4;
}

.theme-dark .markdown-body {
    color: #24292e;
}

.theme-dark .search-highlighted {
  background: #2d3748;
}

.theme-dark .search-hover:hover {
  background: #2d3748;
}

.theme-dark {
  --bg-background-primary: #0D2438;
  --bg-background-secondary: #102C44;
  --bg-background-tertiary: #1E3951;

  --bg-background-form: #1a202c;
  --bg-navbar-primary: #0D2438;

  --text-primary: #cbd5e0;
  --text-copy-primary: #63b3ed;
  --text-copy-secondary: #f6e05e;

  --border-border-color-primary:  #1a202c;
  --color-ui-border: theme('colors.gray.800');
}

.theme-dark .markdown-body {
    color: #cbd5e0;
}

.theme-dark nav .active {
    @apply border-white border-b;
}

.content-wrapper {
  transition: background-color .25s;
}

a {
  @apply text-blue-700 font-bold;
}

a:hover {
  @apply text-blue-800;
}

nav .active {
  font-weight: bold;
  @apply border-black border-b;
}

.container-inner {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container-inner {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-inner {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-inner {
    max-width: 800px;
  }
}

.checkmark {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2229%22%20height%3D%2229%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M4.427%2024.93A14.5%2014.5%200%201%201%2024.93%204.427c5.495%205.69%205.416%2014.733-.177%2020.326s-14.637%205.672-20.326.177z%22%20fill%3D%22%232E855A%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M10.234%2012.803l3.67%203.253L20.766%2010%2023%2012l-9.096%208L8%2014.789l2.234-2z%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  @apply pl-10;
}

.responsive-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.background-pattern {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='192' viewBox='0 0 192 192' width='192'%3E%3Cg transform='matrix(.33103 0 0 .33103 11.255 11.255)' fill='%23ecc94b' fill-opacity='.1'%3E%3Cpath d='M37.68 250.453a9.998 9.998 0 000 11.094l11.5 17.251c16.218 24.322 15.293 58.906-2.196 82.228C39.798 370.593 36 381.995 36 394c0 30.327 24.673 55 55 55 1.763 0 3.512-.082 5.244-.244A56.296 56.296 0 0096 454c0 29.855 24.103 58 55 58 10.782 0 20.293-2.758 29.075-8.43 23.025-14.868 50.198-13.156 67.614 4.261.647.476 3.13 4.169 8.312 4.169 5.252 0 7.722-3.773 8.47-4.329 17.226-17.228 44.99-19.002 67.518-4.313 8.92 5.815 18.41 8.643 29.012 8.643 30.852 0 55-28.109 55-58 0-1.763-.082-3.512-.244-5.244 1.732.162 3.481.244 5.244.244 30.327 0 55-24.673 55-55 0-12.005-3.798-23.407-10.979-32.97-17.493-23.326-18.418-57.91-2.2-82.233l11.5-17.25a9.998 9.998 0 000-11.094l-11.5-17.251c-16.218-24.322-15.293-58.906 2.196-82.228C472.202 141.407 476 130.005 476 118c0-30.327-24.673-55-55-55-1.763 0-3.512.082-5.244.244.162-1.732.244-3.481.244-5.244 0-29.855-24.103-58-55-58-10.782 0-20.293 2.758-29.075 8.43-23.025 14.868-50.198 13.155-67.614-4.261l-1.24-1.24a9.999 9.999 0 00-14.143.002l-1.398 1.398c-17.227 17.227-44.991 19.001-67.518 4.313C171.092 2.827 161.602 0 151 0c-30.852 0-55 28.109-55 58 0 1.763.082 3.512.244 5.244A56.296 56.296 0 0091 63c-30.327 0-55 24.673-55 55 0 12.005 3.798 23.407 10.979 32.97 17.493 23.326 18.418 57.91 2.2 82.233zm28.14-6.155c20.767-31.145 19.572-75.441-2.844-105.333C58.412 132.888 56 125.639 56 118c0-19.299 15.701-35 35-35 5.272 0 10.34 1.143 15.065 3.396a10 10 0 0013.33-13.332A34.73 34.73 0 01116 58c0-20.243 16.355-38 35-38 6.694 0 12.441 1.715 18.088 5.396 28.231 18.406 62.912 17.355 86.935-1.868 23.929 18.96 58.493 19.947 86.752 1.702C348.3 21.662 354.091 20 361 20c18.645 0 35 17.757 35 38a34.717 34.717 0 01-3.396 15.064 10 10 0 0013.33 13.332A34.735 34.735 0 01421 83c19.299 0 35 15.701 35 35 0 7.639-2.412 14.888-6.98 20.97-22.412 29.887-23.606 74.184-2.84 105.327L453.981 256l-7.802 11.702c-20.767 31.145-19.572 75.441 2.844 105.333C453.588 379.112 456 386.361 456 394c0 19.299-15.701 35-35 35a34.727 34.727 0 01-15.065-3.396 10 10 0 00-13.33 13.332A34.73 34.73 0 01396 454c0 20.243-16.355 38-35 38-6.694 0-12.441-1.715-18.088-5.396-13.569-8.847-28.626-13.198-43.276-13.198-15.829 0-31.182 5.083-43.659 15.066-23.93-18.961-58.494-19.949-86.752-1.702C163.7 490.338 157.909 492 151 492c-18.645 0-35-17.757-35-38a34.717 34.717 0 013.396-15.064 10 10 0 00-13.33-13.332A34.735 34.735 0 0191 429c-19.299 0-35-15.701-35-35 0-7.639 2.412-14.888 6.98-20.97 22.412-29.887 23.606-74.184 2.84-105.327L58.019 256z'/%3E%3Ccircle cx='256' cy='409' r='10'/%3E%3Cpath d='M136 419h74.999c5.523 0 10-4.478 10-10s-4.477-10-10-10H146V113h220v286h-65c-5.523 0-10 4.478-10 10s4.477 10 10 10h75c5.523 0 10-4.478 10-10V103c0-5.522-4.477-10-10-10H136c-5.523 0-10 4.478-10 10v306c0 5.522 4.477 10 10 10z'/%3E%3C/g%3E%3C/svg%3E");
}
